/.DS_Store
/Create_element.html
/MAL copy.html
/Primtall.js
/Primtalll.html
/Prosjekt2.html
/api.html
/api.js
/consol.html
/element.html
/knapp.html
/letogconst.html
/media
/mediac87e98617e821756da5c7e26962e40496ef9fefd9643ed937ad54d40e75395ed.zip
/numbersapi.html
/numbersapi.js
/refark.html
/sparing copy.html
/sparing.html
/tau.html
/untitled folder
/ØVINGPRØVE.html
/ØVINGPRØVE2.html