@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jaro:opsz@6..72&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('bilder/it.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

canvas {
    display: block;
    border: 2px solid black;
    background-color: white;
    margin-top: 20px;
    margin-left:420px;
}


h1 {
    color: blueviolet;
    font-size: 60px;
    font-family: "Jaro", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0px;
}

#startScreen,
#intro,
#customizescreen {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 60px;
    border-radius: 10px;
    text-align: center;
    margin-top: 300px;
}

#info {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 60px;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px;
}

#jumpCounter,
#highScore {
    display: none;
    font-size: 60px;
    font-family: "Jaro", sans-serif;
    color: white;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 0px;
}

p {
    font-size: 20px;
}

button {
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

#overskrift,
#navknapp {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding: 0px;
    text-align: center;

}

ul,
label {
    font-size: 25px;
}

h4 {
    font-size: 35px;
}