@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jaro:opsz@6..72&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('it.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

canvas {
    display: block;
    border: 2px solid black;
    background-color: white;
}

h1 {
    color: white;
    font-size: 60px;
    font-family: "Jaro", sans-serif;
    text-align: center;
}

#startScreen {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#jumpCounter {
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
    font-size: 60px;
    font-family: "Jaro", sans-serif;
    color: white;
}

#highScore {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    font-size: 60px;
    font-family: "Jaro", sans-serif;
    color: white;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p{
    font-size: 20px;
}
button{
    background-color: blueviolet;
    color: white;
    font-size: 20px;
}

.fade-out {
    opacity: 0;
    transition: opacity 2s ease;
}